body {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  line-height: 1;
}

textarea {
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  padding: 10px;
}

.currentDay {
  color: black;
  font-size: 24px;
  font-weight: bolder;
  font-style: italic;
}

.jumbotron {
  text-align: center;
  background-color: transparent;
  color: black;
  border-radius: 0;
  border-bottom: 8px solid black;
}

/* style for clear Button */

.clearBtn {
  width: 200px;
  border-radius: 8px;
  box-shadow: 3px 4px #a0a0a0;
  background-color: #827397;
  border: 1px solid #827397;
  color: white;
  padding: 14px;
}

.clearBtn:hover {
  transition: all 0.3s ease-in-out;
  background-color: white;
  color: #827397;
}

.button-container {
  display: flex;
  justify-content: center;
  margin-bottom: 35px;
}

.container {
  margin-bottom: 30px;
}
/* style for timeblock */
.custom-color-time {
  background-color: whitesmoke;
  color: #363062;
  font-weight: bolder;
  border-radius: 5px 0px 0px 5px;
}

/* styles for timeblock compared to current hour */
.past {
  background-color: #d3d3d3;
  color: white;
  font-weight: bold;
}

.present {
  background-color: #d49a89;
  color: white;
}

.future {
  background-color: #557571;
  color: white;
}

/* style for save button */
.custom-button {
  background-color: #827397;
  color: white;
  font-weight: 800;
  border-radius: 0px 5px 5px 0px;
}
.custom-button:hover {
  font-size: 20px;
  transition: all 0.3s ease-in-out;
}
